<nav class="navbar navbar-default navbar-fixed-top navbar-translucent navbar-float">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{{__ "app"}}}</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{{#ifEq page 'home'}}active{{/ifEq}}"><a href="/">Home</a></li>
        <li class="{{#ifEq page 'about'}}active{{/ifEq}}"><a href="/about">About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {{#if user}}
        <li>
          <a href="/logout">Logout</a>
        </li>
        {{else}}
        <li class="{{#ifEq page 'login'}}active{{/ifEq}}">
          <a href="/login">Login</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
