<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    {{> navigation}}

    {{{body}}}
    <div class="navigation-padding"></div>
    {{> footer}}
    <script src="/js/bundle.js"></script>
  </body>
</html>
