<div class="register header eighty vertical-center navigation-padding">
  <div class="container">
    <div class="panel panel-default panel-translucent col-md-6 col-md-offset-3 v-align">
      <div class="panel-body">
        {{> messages}}
        <h1>Register</h1>
        {{> registration_form}}
      </div>
    </div>
  </div>
</div>
